
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
h1 {
	text-align: center;
	font-style: bold;
	margin-top: 20px;
	margin-bottom: 10px;
}
div {
	border: 1px solid black;
	width: 100%;
	padding-left: 4%;
	padding-right: 1%;

	align-items: center;
}
section {
	background-color: lightgrey;
	border: 1px solid black;

	width: 33.3%;
	margin: 1%;

	overflow: hidden;
	position: relative;
	float: left;
}
p.content {
	clear: both;

	padding: 15px;
	text-align: justify;
}
p.menu {
  	border: 1px solid black;
  	text-align: center;
  	padding: 5px;

  	float: right;
  	position: relative;
 }

#p1 {
	background-color: lightpink;
}
#p2 {
	background-color: red;
}
#p3 {
	background-color: yellow;
}

/********* PC *********/
@media (min-width: 992px) {
	#box1, #box2, #box3 {
		width: 30%;
		float: left;
	}
}

/********* Tablet *********/
@media (min-width: 768px) and (max-width: 991px) {
	div {
		padding-left: 10%;
		padding-right: 1%;
	}
	#box1 {
		width: 40%;
	}
	#box2 {
		width: 40%;
	}
	#box3 {
		width: 82.5%;
	}
}

/********* Mobile *********/
@media (max-width: 767px) {
	div {
		padding-left: 13%;
		padding-right: 1%;
	}	
	#box1, #box2, #box3 {
		width: 80%
	}
}

