
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
h1 {
	margin-left: 40%;
}
div {
	background-color: grey;
	border: 1px solid black;
	width: 350px;
	height: 250px;
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 20px;
	float: left;
}
/*
#box1 {
	float: left;
}
#box2 {
	float: right;
}
#box3 {
	float: right;
}*/

p {
  	border: 1px solid black;
  	position: relative;
	right: 0;
	top: 0;	
	margin-right: 10px;
 }

#p1 {
	background-color: pink;
	
}
#p2 {
	background-color: red;
	
}
#p3 {
	background-color: yellow;
	
}

section {
	clear: both;
}

/********* PC *********/
@media (min-width: 992px) {
	#box1, #box2, #box3 {
		width: 350px;
	}
}

/********* Tablet *********/
@media (min-width: 768px) and (max-width: 991px) {
	#box1 {
		width: 300px;
	}
	#box2 {
		width: 300px;
	}
	#box3 {
		width: 700px;
	}
}

/********* Mobile *********/
@media (max-width: 767px) {
	#box1, #box2, #box3 {
		width: 80%
	}
}

